<fieldset>
    <legend>Cadastro</legend>
    <form>
        <label for="">
            Título
        </label>
        <input name="titulo" type="text">
        <label for="">Conteúdo</label>

        <textarea name="conteudo"></textarea>
        <button>Cadastrar</button>
    </form>

</fieldset>