<%- include("../../partials/header.ejs") %>
<body>
<%- include("../../partials/nav.ejs") %>

<hr>
<div class="mt-4 container">
    <div class="card">
        <div class="card-header">
          <h2>  Criando usuário </h2>
        </div>
        <div class="card-body">
            <form action="/user/create" method="post">
                <input placeholder="@gmail.com" name="email" class="form-control">
                <input name="password" placeholder="***********\" type="password" class="form-control">
                    <button class="btn mt-2 btn-success btn-block">Cadastrar</button>
            </form>
        </div>
    </div>
</div>




</body>
<%- include("../../partials/footer.ejs") %>
