<h2>Adicionar categorias</h2>
<hr>
{{#each categorias}}
        <div class="card">
            <div class="card-body">
                <h4>{{nome}}</h4>
                <small>{{slug}}</small>
            </div>
        </div>
    {{else}}
{{/each}}
<a href="/admin/categorias/add">
    <button class="btn btn-info">Adicionar categoria</button>
</a>