<h2>Lista de posts:</h2>
    <div class="card">
        <div class="card-body">
            <h4>{{post.titulo}}</h4>
            <p>{{post.descricao}}</p>
            <p>{{post.conteudo}}</p>
            <small>Data:{{post.data}}</small>


 

        </div>
    </div>


