<fieldset>
    <legend>Cadastro</legend>
    <form action="/adicionar" method="post">
        <label for="">
            Título
        </label>
        <input name="titulo" type="text">
        <label for="">Conteúdo</label>

        <textarea name="conteudo"></textarea>
        <button type="submit">Cadastrar</button>
    </form>

</fieldset>