<h1>Post:</h1>


{{#each posts}}
<h1>{{dataValues.titulo}}</h1>
<h1>{{dataValues.conteudo}}</h1>

<a href="/apagar/{{dataValues.id}}"><button name="id" value="{{dataValues.conteudo}}">Apagar</button></a>
<hr>


{{/each}}


